@font-face {
  font-family: "TT Norms Pro";
  src: url("fonts/TTNormsPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: "TT Norms Pro", sans-serif;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 1280px;
  height: 720px;
  background: linear-gradient(to right, #5e84ff, #fff799);
}

.blue-bg {
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 40px;
  display: flex;
}

.text-big {
  font-size: 80px;
  margin-bottom: 20px;
  font-weight: 400;
}

.text-small {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 400;
}

.dimedis-logo {
  margin-top: 40px;
}

.dimedis-logo img {
  max-width: 140px;
}

.texte {
  color: white;
}
